Repository experience-trail/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

setup prettier & eslint
  .eslintrc
Due: none

config complete
  .eslintrc
  package.json
  src/components/Test.js
  yarn.lock
Due: prettier --write, eslint

Create jsconfig.json
  jsconfig.json
Due: none

Update package.json
  package.json
Due: none

favicons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
Due: none

Update index.html
  public/index.html
Due: none

Delete App.css
  src/App.css
Due: none

Update App.js
  src/App.js
Due: prettier --write, eslint

components
  src/components/Footers/DarkFooter.js
  src/components/Footers/DefaultFooter.js
  src/components/Footers/TransparentFooter.js
  src/components/Headers/IndexHeader.js
  src/components/Headers/LandingPageHeader.js
  src/components/Headers/ProfilePageHeader.js
  src/components/Navbars/ExamplesNavbar.js
  src/components/Navbars/IndexNavbar.js
Due: prettier --write, eslint

Update Loading.js
  src/components/Loading.js
Due: prettier --write, eslint

Delete index.css
  src/index.css
Due: none

Update index.js
  src/index.js
Due: prettier --write, eslint

views
  src/views/Index.js
  src/views/NucleoIcons.js
  src/views/examples/LandingPage.js
  src/views/examples/LoginPage.js
  src/views/examples/ProfilePage.js
  src/views/index-sections/BasicElements.js
  src/views/index-sections/Carousel.js
  src/views/index-sections/CompleteExamples.js
  src/views/index-sections/Download.js
  src/views/index-sections/Examples.js
  src/views/index-sections/Images.js
  src/views/index-sections/Javascript.js
  src/views/index-sections/Navbars.js
  src/views/index-sections/Notifications.js
  src/views/index-sections/NucleoIcons.js
  src/views/index-sections/Pagination.js
  src/views/index-sections/SignUp.js
  src/views/index-sections/Tabs.js
  src/views/index-sections/Typography.js
Due: prettier --write, eslint

Delete tsconfig.json
  tsconfig.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

reverting
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  yarn.lock
Due: none

adds dependencies
  package.json
  yarn.lock
Due: none

adds prettier
  .prettierrc
  package.json
  src/components/Test.js
  yarn.lock
Due: prettier --write, eslint

remove eslint dependencies
  package.json
  yarn.lock
Due: none

Create yarn.lock
  yarn.lock
Due: none

query person file added
  package.json
  src/react-auth0-spa.js
  src/react-queryperson.js
  yarn.lock
Due: prettier --write, eslint

Update react-auth0-spa.js
  src/react-auth0-spa.js
Due: prettier --write, eslint

09/06/19 Morning
  src/index.js
  src/test-query.js
Due: prettier --write, eslint

Revert "Apollo Hooks on Auth"
  package.json
  src/index.js
  src/react-auth0-spa.js
  src/react-queryperson.js
  yarn.lock
Due: prettier --write, eslint

Revert "Merge pull request #8 from experience-trail/JosephC"
  package.json
  src/index.js
  src/react-auth0-spa.js
  src/react-queryperson.js
  yarn.lock
Due: prettier --write, eslint

Revert "Merge pull request #5 from experience-trail/michael-checo"
  .eslintrc
  .prettierrc
  package.json
  src/App.js
  src/components/Test.js
  src/index.js
  yarn.lock
Due: prettier --write, eslint

Delete Content.js
  src/components/Content.js
Due: prettier --write, eslint

Delete react-app-env.d.ts
  src/react-app-env.d.ts
Due: prettier --write

Delete contentData.js
  src/utils/contentData.js
Due: prettier --write, eslint

Update Home.js
  src/views/Home.js
Due: prettier --write, eslint

data.person null commented out to remove error
  src/react-auth0-spa.js
Due: prettier --write, eslint

added query files and am working on displaying data
  package.json
  src/App.js
  src/components/Hero.js
  src/queries/AlbumQuery.js
  src/queries/CommentQuery.js
  src/queries/LinkingQuery.js
  src/queries/PersonQuery.js
  src/queries/PlaceQuery.js
  yarn.lock
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,jsx}
  eslint: any of: *.js
